.sub{
	border-style: groove;
	border-width: 5px;
	border-color: turquoise khaki salmon sienna;
	border-top-style: ridge;
	border-bottom-style: groove;
	border-right-style: groove;
	border-left-style: ridge;
	line-height: 30px;
	font-size: 20px;
	border-radius: 25px;
}
.sub1{
	border: 5px dotted springgreen;
	line-height: 30px;
	font-size: 20px;
}
.sub2{
	border-style: groove;
	border-width: 5px;
	border-color: rebeccapurple;
	border-start-end-radius: 25px;
	line-height: 30px;
	font-size: 20px;
}
.sub3{
	border-style: dotted;
	border-width: 20px;
	border-color: darkturquoise;
	height: 500px;
	width: 500px;
	background-image: url('bg.jpeg'); 
	background-clip: content-box;
}
