.sub1{
	height: 600px; 
	width: 900px; 
	background-color: gray;
	margin: 100px 10px 50px 150px;
	padding: 10px 60px 80px 50px;
	box-sizing: border-box;
}
.sub2{
	height: 500px; 
	width: 800px; 
	background-color: orange;
	padding: 10px 60px 80px 50px;
	box-sizing: border-box;
}
.sub3{
	height: 400px; 
	width: 700px; 
	background-color: gray;
	padding: 10px 60px 80px 50px;
	box-sizing: border-box;
}
.sub4{
	height: 300px;
	width: 600px; 
	background-color: lightblue;
	padding: 10px 60px 80px 50px;
	box-sizing: border-box;
}