.signup {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;
  align-content: center;
  margin-left: 800px;
  height: 300px;
  width: 500px;
}
#but {
  width: 200px;
  height: 30px;
  margin-left: 30px;
  border-radius: 5px;
  color: yellowgreen;
  background-color: green;
}
